<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
    <%= author_id_field(@post) %>
  <br>
  
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
